SECRET_KEY=change-me-please
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost 127.0.0.1
DATABASE_ENGINE=sqlite
DATABASE_NAME=db.sqlite3
DATABASE_USER=gestio_user
DATABASE_PASSWORD=gestio_pass
DATABASE_HOST=localhost
DATABASE_PORT=5432
