{% extends 'base/base.html' %}
{% load i18n %}

{% block title %}{% trans "Supprimer client" %} - El Amine ERP{% endblock %}

{% block page_title %}{% trans "Supprimer client" %}{% endblock %}

{% block content %}
<div class="card card-dashboard p-4 bg-white">
    <p>{% trans "Voulez-vous vraiment supprimer le client" %} <strong>{{ client.name }}</strong> </p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Supprimer" %}</button>
        <a href="{% url 'client_list' %}" class="btn btn-secondary">{% trans "Annuler" %}</a>
    </form>
</div>
{% endblock %}
