{% extends 'base/base.html' %}
{% load i18n %}

{% block title %}{% trans "Import Excel produits" %} - El Amine ERP{% endblock %}

{% block page_title %}{% trans "Import Excel produits" %}{% endblock %}

{% block content %}
<div class="card card-dashboard p-4 bg-white">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.file.label_tag }}
            {{ form.file }}
            {{ form.file.errors }}
        </div>
        <button class="btn btn-success">{% trans "Importer" %}</button>
    </form>
</div>
{% endblock %}
