{% extends 'base/base.html' %}

{% block title %}{{ title }} - El Amine ERP{% endblock %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<div class="card card-dashboard p-4 bg-white">
    <form method="post">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-md-6">{{ form.name.label_tag }}{{ form.name }}</div>
            <div class="col-md-6">{{ form.phone.label_tag }}{{ form.phone }}</div>
            <div class="col-md-6">{{ form.address.label_tag }}{{ form.address }}</div>
            <div class="col-md-6">{{ form.wilaya.label_tag }}{{ form.wilaya }}</div>
            <div class="col-md-6">{{ form.email.label_tag }}{{ form.email }}</div>
            <div class="col-md-6">{{ form.rc_number.label_tag }}{{ form.rc_number }}</div>
            <div class="col-md-6">{{ form.tax_number.label_tag }}{{ form.tax_number }}</div>
            <div class="col-12">{{ form.notes.label_tag }}{{ form.notes }}</div>
        </div>
        <button class="btn btn-success mt-3">Enregistrer</button>
    </form>
</div>
{% endblock %}
