{% load i18n %}{% autoescape off %}
{% blocktrans with name=user.get_full_name|default:user.username %}Bonjour {{ name }},{% endblocktrans %}

{% trans "Une réinitialisation du mot de passe a été demandée pour votre compte." %}

{% trans "Utilisez le lien suivant pour définir un nouveau mot de passe :" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Si vous n'avez pas demandé cette opération, ignorez ce message." %}

{% trans "Cordialement," %}
{% trans "L'équipe ERP El Amine" %}
{% endautoescape %}
